.caja
    max-width: 430px
    shadow()
    &__contenido
        padding: 20px
        background-color: WhiteColor
        span
            text-transform: uppercase
            colo: SecundaryColor
            titulos(Font2)
        h3
            margin-top 10px
            text-transform: uppercase
            font-weight: normal
            titulos(Font2)