.estadistica--perfil{
    margin: 0 auto;
    display: flex;
    width: 50%;
    height: 90px;
    margin: 0 auto;
    justify-content: space-around;
    
    @include caja;
    h3 {
        margin-top: 1vh;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: $Fuentes2;
    }
    span {
        margin-top: -40px;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        font-family: $Fuentes2;
    }
}