@import "components/_globales"
@import "components/_box"
@import "components/_filters"
@import "components/_finder"

.estadistica--articulos
    height: 70px
    padding: 20px
    border-top: 1px solid alpha(primaryColor,.3)
    ul
        list-style: none
        margin: 0 auto
        padding: 0
        display:flex
        justify-content: space-evenly
        color: alpha(primaryColor,.3)
    span
        margin-left: 10px